@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
    --green: #00E77F;
    --white: #fff;
    --light-white: #aaa;
    --black: #3d3d3d;
    --light-bg: #4b4b4b;
    --black-white: rgb(17,17,17);
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
    text-transform: capitalize;
}

*::selection {
    background-color: var(--white);
    color: var(--black);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

body {
    background-color: var(--black);
}

section {
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--black-white);
}

.header .flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .flex .logo img {
    width: 40px;
}

.header .flex .navbar a {
    margin-left: 2rem;
    color: var(--white);
    font-size: 2rem;
    padding: 2rem;
}

.header .flex .navbar a:hover {
    color: var(--green);
}

#menu-btn {
    cursor: pointer;
    color: var(--white);
    font-size: 2.5rem;
    display: none;
}

.row {
    margin-top: 30rem;
    text-align: center;
}

.row h1 {
    font-size: 160px;
    color: white;
    font-weight: 600;
}

.row h1:hover {
    -webkit-text-stroke: 2px var(--green);
    color: transparent;
}

.row a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 20px;
}

.row a:hover {
    -webkit-text-stroke: 2px var(--green);
    color: transparent;
}

#videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width:991px){
    html {
        font-size: 55%;
    }

    .row h1 {
        font-size: 100px;
        font-weight: 400;
    }
}

@media (max-width:768px){
    #menu-btn {
        display: inline-block;
    }
    
    #menu-btn.fa-times {
        transform: rotate(180deg);
        -webkit-transform: rotate(18);
        -moz-transform: rotate(18);
        -ms-transform: rotate(18);
        -o-transform: rotate(18);
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: .1rem solid var(--white);
        border-bottom: .1rem solid var(--white);
        background-color: var(--black-white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        display: block;
    }

    html {
        font-size: 50%;
    }

    .row h1 {
        font-size: 80px;
        font-weight: 200;
    }
}